.bcontainer {
    display: flex;
    flex-wrap: nowrap;
    height: 50em;
    background-color: white;
  }
  .ccontainer {
    display: flex;
    flex-wrap: nowrap;
    height: 11em;
    background-color: white;
  }
  .box {
    width: 25%;
    background: linear-gradient(135deg, #71beab, #7ba8db);
    text-align: center;
    line-height: 75px;
    height: 350px !important;
  }
  .slider {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  .slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  /* .slider__contents__quote {
    flex: 2;
  }
  .slider__contents__cool {
    flex: 1;
  } */
  
  .slider__image {
    font-size: 2.7rem;
    color: #ffffff;
  }
  .slider__caption {
    font-weight: 500;
    text-transform: uppercase;
  }
  .slider__txt {
    color: rgb(255, 255, 255);
    max-width: 300px;
  }
  .h2 {
    line-height: 0.05;
  }
  @-webkit-keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  /*--------------------------------------*/
  /*              HOME SCREEN             */
  /*--------------------------------------*/
  .h1home {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    text-align: center;
    color: #1d3557;
  }
  #hh {
    display: flex;
    align-items: center;
  }
  
  .quotes {
    font-family: 'Lusitana', serif;
    font-size: 29px;
    text-align: center;
    color: #12245f;
  }
  
  .accent-orange-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #f7bc7d, #f3e45e);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
    padding: 20px;
    box-shadow: 0 20px 20px 0 rgba(238, 192, 142, 0.3);
  }
  .accent-orange-gradient:hover {
    box-shadow: 0 20px 20px 0 rgba(238, 192, 142, 0.3);
    transform: scale(1.04);
  }
  
  .h1home,
  .quotes {
    font-family: 'Rubik', sans-serif;
  }
  
  .quotes {
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif !important;
  }
  
  .accent-blue-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #8ebcee, #a08eee);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
  }
  .accent-blue-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(142, 188, 238, 0.3);
    transform: scale(1.05);
  }
  
  #quote {
    display: flex;
    align-items: center;
  }
  
  .left {
    text-align: right;
  }
  
  .right {
    float: right;
  }
  
  #details {
    width: 70%;
    font-family: 'Montserrat', sans-serif !important;
  }
  
  .accent-cyan-gradient {
    width: fit-content;
    background: linear-gradient(135deg, #8eeec0, #8edcee);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
    padding: 0.6% 2%;
  }
  
  #details .accent-cyan-gradient {
    width: fit-content;
    background: linear-gradient(135deg, #8eeec0, #8edcee);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
    margin: 3% 3% 13% 0% !important;
    margin-bottom: 10% !important;
    padding: 0.6% 2%;
    cursor: pointer;
  }
  .accent-cyan-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(77, 126, 102, 0.3);
    transform: scale(1.05);
  }
  
  #submit-btn {
    float: right !important;
    height: fit-content !important;
  }
  
  #change {
    width: 70%;
  }
  
  #change,
  select,
  option {
    font-family: 'Montserrat', sans-serif !important;
  }
  
  .slots h3,
  .slots li {
    font-family: 'Montserrat', sans-serif !important;
  }
  
  h3 {
    font-weight: bold;
  }
  
  .gradient {
    display: inline-block;
    background-color: #457b9d;
    color: white;
    padding: 0% 2%;
    margin: 1% 3%;
  }
  .endwrapper {
    position: fixed;
    display: block;
    bottom: 10px;
    margin-left: 90%;
    margin-right: auto;
  }
  
.croomid {
  color: black;
  font-weight: bold;
}

h2 {
  font-family: 'Rubik', sans-serif;
}

.filename {
  color: white !important;
}