@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

.personal{
  font-family: 'Montserrat', sans-serif;
}

.academic{
  font-family: 'Montserrat', sans-serif;
}

.d{
  display: inline-block;
}

.p {
    font-family: 'Montserrat', sans-serif; 
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    color: black !important;
    cursor: pointer;
  }


.p:hover {
    color: #457B9D !important;
  }

.p-content{
  display: none;
}

.btn {
    font-family: 'Montserrat', sans-serif; 
    border-radius:12px;
    background-color: #A8DADC;  
    float:right;
}

.btn:hover{
    background-color: aliceblue;
    border:2px solid #457B9D;
}

.container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 975px;
}

.btn-l{
    text-align: center;
    float: left;
    font-size: 75%;
}

.btn-r{
    text-align: center;
    float: right;
    font-size: 75%;
}
.btn-c{
    text-align: center;
    font-size: 75%;
}