<%- include ("../partials/header") %>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/users/studentProfile.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<div>
    <img src="/images/picture3.jpg" width="350" height="450" style="float: right;">
</div>



<div class="d">
    <a class="p">VIEW PERSONAL DETAILS</a>
    <div class="p-content">
        <form >
            <div class="personal">
                <hr style="width: 25%; margin-left: 0; border: 1px solid black;">
                <label for="name" class="d">Name :</label>
                <input id="name" type="text" value="Christopher Nolan" readonly>
                <label for="dob" class="d">Date of birth :</label>
                <input id="dob" type="date" value="1978-03-02" readonly>
                <hr>
                <label for="email" class="e">Email :</label>
                <input id="email" type="email" value="nolan@gmail.com" readonly>
                <hr>
                <label for="address" class="d">Address :</label>
                <input id="address" type="text" value="20 Ingram street" readonly>
                
                <label for="phn" class="d">Phone number :</label>
                <input id="phn" type="number" value="8533416320" min="0000000000" max="9999999999" readonly>
            </div>
            <hr style="border: 2px solid black;">
        </form>
    </div>
</div>

<hr style="width: 75%; text-align:left;margin-left:0">

<div class="d">
    <a class="p">VIEW PROFESSIONAL DETAILS</a>
    <div class="p-content">
        <form>
            <div class="academic">
                <hr style="width: 25%; margin-left: 0; border: 1px solid black;">
                <label for="dname" class="d">Depatment name :</label>
                <input id="dname" type="text" value="Computer science" readonly>
                <label for="rno" class="d">Designation :</label>
                <input id="rno" type="text" value="H.O.D." readonly>
                <hr>
                <label for="cgpa" class="d">Qualification :</label>
                <input id="cgpa" type="text" value="Ph.D." readonly>
                <label for="sgpa" class="d">Salary :</label>
                <input id="sgpa" type="number" value="3000000" readonly>
            </div>
            <hr style="border: 2px solid black;">
        </form>
    </div>
</div>

<hr style="width: 75%; text-align:left;margin-left:0">




<div class="container">
    <div class="btn-r"><a href="" class="btn">Change Password</a></div>
    <div class="btn-c"><a href="../faculty/profile/edit" class="btn">edit</a></div>
    <div class="btn-l"><a href="../faculty/login" class="btn">Sign-out</a></div>
</div>

<%- include ("../partials/footer") %>