<%- include ("../partials/header") %>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/users/StudprofileEdit.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<hr style="border: 2px solid black;">
<form action="/action_page.php">
    <div class="personal">
        <h3 style="padding: 0 22px;">PERSONAL DETAILS</h3>
        <hr style="width: 25%; margin-left: 0; border: 1px solid black;">
        <label for="name" class="d">Name :</label>
        <input id="name" type="text" value="Christopher Nolan">
        <label for="dob" class="d">Date of birth :</label>
        <input id="dob" type="date" value="1978-03-02">
        <hr>
        <label for="email" class="e">Email :</label>
        <input id="email" type="email" value="nolan@gmail.com">
        <hr>
        <label for="address" class="d">Address :</label>
        <input id="address" type="text" value="20 Ingram street">
        
        <label for="phn" class="d">Phone number :</label>
        <input id="phn" type="number" value="8533416320" min="0000000000" max="9999999999">
    </div>
    <hr style="border: 2px solid black;">
    <div class="academic">
        <h3 style="padding: 0 22px;">PROFESSIONAL DETAILS</h3>
        <hr style="width: 25%; margin-left: 0; border: 1px solid black;">
        <label for="dname" class="d">Depatment name :</label>
        <input id="dname" type="text" value="Computer science">
        <label for="rno" class="d">Designation :</label>
        <input id="rno" type="text" value="H.O.D.">
        <hr>
        <label for="cgpa" class="d">Qualification :</label>
        <input id="cgpa" type="text" value="Ph.D.">
        <label for="sgpa" class="d">Salary :</label>
        <input id="sgpa" type="number" value="3000000">
    </div>
    <hr style="border: 2px solid black;">
    <input class="btn" type="submit" value="Submit">
</form>
<%- include ("../partials/footer") %>