<%- include ("../partials/header") %>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/users/studentProfile.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<img src="/images/picture2.jpg" width="350" height="500" style="float: right;">

<div class="d"><a href='/' class="photo">VIEW PHOTO</a></div><div class='edit'><button class="btn">Edit</button></div>

<hr style="width: 75%; text-align:left;margin-left:0">

<div class="d"><a href='/' class="photo">VIEW PERSONAL DETAILS</a></div><div class="edit"><button class ="btn">Edit</button></div>

<hr style="width: 75%; text-align:left;margin-left:0">

<div class="d"><a href='/' class="photo">VIEW ACADEMIC DETAILS</a></div><div class="edit"><button class ="btn">Edit</button></div>

<hr style="width: 75%; text-align:left;margin-left:0">

<div class="d"><a href='/' class="photo">VIEW SAVED LECTURES</a></div><div class="edit"><button class ="btn">Edit</button></div>

<hr style="width: 75%; text-align:left;margin-left:0">

<div class="edit"><a href='../student/login' class="btn">Sign out</a></div><div class="d"><button class="btn">Change Password</button></div>

<%- include ("../partials/footer") %>